<template>
    <div>
        <h1>You've already Registered</h1>
        <span>Go to Home Page</span>
        <nuxt-link to="/">Home</nuxt-link>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
