<template>
  <div id="root">
    <div class="registration">
      <div class="registration__brand">
        <nuxt-link to="/">
          <img src="assets/reg_logo.png" />
        </nuxt-link>
        <div>
          A decentralized social e-commerce platform
          <br />for Influencers, Companies & Consumers.
        </div>
      </div>
      <div class="registration__card card">
        <p class="registration__text card-text">
          Join for free and be part of the first
          <strong>decentralized</strong> social e-commerce community.
        </p>
        <form class="registration__form registration__form--step1">
          <div class="registration__option position-relative form-check">
            <label class="form-check-label">
              <input
                name="type"
                v-model="userType"
                value="influencer"
                required
                pattern="[a-z]{1,15}"
                type="radio"
                class="form-check-input"
                onclick="checked1()"
              />
              <span class="registration__name">Member</span>
              <!-- <p class="registrationdescription">
                
                <strong></strong>.
              </p> -->
              <p class="registration__description">
                Get inspired by other community members or become inspiration to others as a
                <strong>influencer</strong>
              </p>
            </label>
          </div>
          <div class="registration__option position-relative form-check">
            <label class="form-check-label">
              <input
                name="type"
                v-model="userType"
                value="retail"
                type="radio"
                class="form-check-input"
                onclick="checked2()"
              />
              <span class="registration__name">Retail</span>
              <p class="registration__description">
                InfluWay gives
                <strong>online stores</strong> a unique opportunity to increase their customer base with instant access to thousand of influencers around the world.
              </p>
            </label>
          </div>
        </form>
        <div class="registration__footer">
          <button @click="goToLogIn" type="button" class="btn btn-link">Sign in</button>
          <button
            type="button"
            id="button"
            :class="(userType == '') ? `btn btn-primary disabled` : `btn btn-primary`"
            @click="onNext"
          >Next</button>
        </div>
      </div>
    </div>
    <div class="footer">Copyright &copy; 2020 All Rights Reserved by InfluWay</div>
  </div>
</template>


<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      // currentUser: [],
      // notLoggedIn: true,
      // state: 0,

      userType: ""
    };
  },

  methods: {
    // async logOut() {
    //   const res = await this.callAxios("get", "app/logout");

    //   if (res.status === 204) {
    //     this.notLoggedIn = true;
    //     this.s("You are logged out ...");
    //     window.location.href = "/login";
    //   }
    // },
    goToLogIn() {
      window.location = "https://app.influway.com";
    },

    onNext() {
      if (this.userType == "") {
        return this.i("Please Select an option before continue!");
      }
      return this.$router.push(`/signup?user_type=${this.userType}`);
    }
  },

  async created() {
    // const res = await this.callAxios("get", "app/initdata");
    // console.log(res.data);
    // //console.log(this.tcurrentUser)
    // if (res.data) {
    //   this.notLoggedIn = false;
    // }
  },

  computed: {
    ...mapGetters({
      tcurrentUser: "store/authUser"
    })
  }
};
</script>

<style>
</style>
