<template>
    <div class="u-bg--default">
        <!-- Preloader -->
        <!-- <div id="loading">
            <div class="ripple ripple1"></div>
            <div class="ripple ripple2"></div>
            <div class="ripple ripple3"></div>
            <div class="ripple ripple4"></div>
        </div> -->
        <!-- End Preloader -->

        <!--Main Container-->
        <div class="main-container">

        <!--Header-->
        <div class="navbar py-3 bg-white">
            <div class="container">
            <!--Logo -->
            <a href="index.html" class="d-inline-block mb-3 mb-sm-0">
                <img src="images/logo-light.png" class="logo logo-md" alt="">
            </a>
            <!-- End Logo -->
            </div>
        </div>
        <!--End of Header-->

        <div class="container py-4 py-md-3 mb-5">
            <div class="row align-items-center flex-md-row-reverse u-height-80">
            <div class="col-lg-5 ml-auto">
                <!--Form Container-->
                <header class="mb-3 mb-md-4">
                <h3>Welcome back</h3>
                <p>Sign to your account</p>
                </header>

                <!--Sign in with Google Button-->
                <button type="button" class="google-button btn-block">
                    <span class="google-button__icon">
                    <!--Google Logo Icon-->
                    <img src="https://www.hydrogenplatform.com/images/icon.png" class="img-fluid" alt="Image">
                    <!--End Google Logo Icon-->
                    </span>
                <span class="google-button__text">Hydro Two-Factor Authentication</span>
                </button>
                <!--End Sign in with Google Button-->
                <div class="my-4 text-uppercase text-center font-weight-bold"></div>

                <form  v-on:submit.prevent="onAttemptLogIn" class="mt-3">
                    <!--Input-->
                    <div class="form-group">
                        <label for="login-email">Email</label>
                        <input v-model="form.email" type="email" id="login-email" class="form-control" placeholder="Email">
                    </div>
                    <!--End Input-->

                    <!--Input-->
                    <div class="form-group">
                        <label for="login-password">Password</label>
                        <input v-model="form.password" type="password" id="login-password" class="form-control" placeholder="Password">
                    </div>
                    <!--End Input-->

                    <!--input-->
                    <div class="form-group d-flex justify-content-between">
                        <!--Custom checkbox-->
                        <label for="newsletter-signup" class="custom-checkbox--label">
                        <div class="custom-checkbox">
                            <input v-model="form.rememberMe" @change="check($event)" type="checkbox" class="custom-checkbox--input" id="newsletter-signup">
                            <span for="newsletter-signup" class="custom-checkbox--label">
                                <span class="custom-checkbox--faux"></span>
                                Keep me logged in
                            </span>
                        </div>
                        </label>
                        <!--End of custom checkbox-->
                        <a href="reset-password.html">Forgot password?</a>
                    </div>
                    <!--End Input-->

                    <button type="submit" class="btn btn-block btn-primary">Login</button>
                </form>
                <!--End Form Container-->
                <div class="mt-5 text-center">
                <span class="mr-2">Need an account?</span>
                <a href="create-account.html" class="btn btn-link">Create one</a>
                </div>

            </div>
            <!--end of col-->
            <div class="col-lg-5 d-none d-md-block mr-auto">
                <img src="images/image-4.svg" class="img-fluid" alt="Image">
            </div>
            <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--End of container-->
        </div>
        <!--End of main container-->
    </div>
</template>

<script>
export default {
     data(){
        return {
            form: {
                email: '',
                password: '',
                rememberMe: false
            }
        }
    },

    methods: {
        async onAttemptLogIn(){
            const res = await this.callAxios('post', '/getLogin', this.form)

            if(res.status === 200){
                this.$store.commit('store/loginUser', res.data)
                this.$router.push('/')
                this.s('Successfully Loged In!')

            }
            else if(res.status === 401){
                const message = res.data.msg
                this.e(message)
            }
            else{
                this.swr()
            }
        },

        check(e){
        }
    }
}
</script>

<style>

</style>
