<template>
  <div id="root">
    <div class="registration">
      <div class="registration__brand">
        <nuxt-link to="/" ><img src="assets/reg_logo.png" /></nuxt-link>
        <div>
          A decentralized social e-commerce platform
          <br />for Influencers, Companies & Consumers.
        </div>
      </div>
      <div class="registration__card card">
        <h5 class="registration__title card-title">
          Let's set up your new
          <strong>store</strong>
        </h5>
        <form class="registration__form registration__form--step2">
          <div class="registration__name position-relative form-group">
            <label class>Store name</label>
            <input
              name="Cname"
              id="Cname"
              placeholder="Nike Outlet"
              type="text"
              class="form-control"
              maxlength="25"
            />
          </div>
          <div class="registration__username position-relative form-group">
            <label class>Username</label>
            <input
              name="Cusername"
              id="Cusername"
              placeholder="NikeOutlet"
              type="text"
              class="form-control"
              maxlength="15"
            />
            <span class="registration__counter">15</span>
          </div>
          <div class="position-relative form-group">
            <label class>Company email</label>
            <input
              name="Cemail"
              id="Cemail"
              placeholder="you@domain.com"
              type="email"
              class="form-control"
            />
          </div>
          <div class="position-relative form-group">
            <label class>Email confirmation</label>
            <input
              name="CemailConf"
              id="emailConf"
              placeholder="you@domain.com"
              type="email"
              class="form-control"
            />
          </div>
          <div class="position-relative form-group">
            <label class>Password (at least 6 characters)</label>
            <input
              name="Cpassword"
              id="password"
              placeholder="******"
              type="password"
              class="form-control"
            />
          </div>
          <div class="registration__terms position-relative form-check">
            <label class="form-check-label">
              <input name="terms" id="TOS" type="checkbox" class="form-check-input" />
              <span>
                By clicking “Sign up” you agree to InfluWay’s
                <a href="/termsOfService">Terms of Service</a>,
                <a href="/privacyPolicy">Privacy Policy</a> and
                <a href="/cookiePolicy">Cookie Policy</a>.
              </span>
            </label>
          </div>
        </form>
        <div class="registration__footer">
          <button
            type="button"
            class="btn btn-link registration__back"
            onclick="parent.location='index.html'"
          >Back</button>
          <button type="button" id="button" class="btn btn-primary disabled">Register</button>
        </div>
      </div>
    </div>
    <div class="footer">Copyright &copy; 2020 All Rights Reserved by InfluWay</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        career: "",
        name: "",
        email: "",
        password: "",
        emailNotifyChecked: false,
        hydroID: ""
      }
    };
  },

  methods: {
    async onSubmit() {
      // if(this.form.career=='' || this.form.name )
      const res = await this.callAxios("post", "/register", this.form);

      if (res.status === 200) {
        this.$router.push("/login");
        this.s("Successfully Account Created You may Log In");
      } else if (res.status === 401) {
        const message = res.data;
        for (let i in message) {
          const msg = message[i].message;
          this.e(msg);
        }
      } else {
        this.swr();
      }
    },

    check(e) {}
  }
};
</script>

<style>
</style>
