<template>
  <div>
    <div id="root">
      <div class="registration">
        <div class="registration__brand">
          <nuxt-link to="/">
            <img src="assets/reg_logo.png" />
          </nuxt-link>
          <div>
            A decentralized social e-commerce platform
            <br />for Influencers, Companies & Consumers.
          </div>
        </div>
        <div class="registration__card card">
          <h5 class="registration__title card-title">
            {{ (userType == 'influencer') ? `A new` : `Let's set up your new` }}
            <template
              v-if="userType == 'influencer'"
            >
              <strong>journey</strong> begins
            </template>
            <template v-else>
              <strong>store</strong>
            </template>
          </h5>
          <form class="registration__form registration__form--step2" action="hello.html">
            <div class="registration__name position-relative form-group">
              <label class>{{ (userType == 'influencer') ? `Full` : `Store` }} Name</label>
              <input
                v-model="form.name"
                name="name"
                id="name"
                placeholder="John Doe"
                type="text"
                class="form-control"
                maxlength="25"
              />
            </div>
            <div class="registration__username position-relative form-group">
              <label class>Username</label>
              <input
                v-model="form.username"
                name="username"
                id="username"
                placeholder="JohnDoe"
                type="text"
                class="form-control"
                maxlength="15"
              />
              <span class="registration__counter">{{ remainingCharacter }}</span>
            </div>
            <div class="position-relative form-group">
              <label class>{{ (userType == 'influencer') ? `Email address` : `Company email` }}</label>
              <input
                v-model="form.email"
                name="email"
                id="email"
                placeholder="John.Doe@domain.com"
                type="email"
                class="form-control"
              />
            </div>
            <div class="position-relative form-group">
              <label class>Email address confirmation</label>
              <input
                v-model="form.confirm_email"
                name="emailConf"
                id="emailConf"
                placeholder="John.Doe@domain.com"
                type="email"
                class="form-control"
              />
            </div>
            <div class="position-relative form-group">
              <label class>Password (at least 6 characters)</label>
              <input
                v-model="form.password"
                name="password"
                id="password"
                placeholder="******"
                type="password"
                class="form-control"
                @change="checkPasswordLength"
              />
              <span
                v-if="onCheck"
                class="registration__counter"
                style="color: #e84f61"
              >{{ checkText }}</span>
            </div>
            <div class="registration__terms position-relative form-check">
              <label class="form-check-label">
                <input
                  v-model="form.isAgreed"
                  name="terms"
                  type="checkbox"
                  id="TOS"
                  class="form-check-input"
                />
                <span>
                  By clicking “Sign up” you agree to InfluWay’s
                  <a
                    href="/termsOfService"
                  >Terms of Service</a>,
                  <a href="/privacyPolicy">Privacy Policy</a> and
                  <a href="/cookiePolicy">Cookie Policy</a>.
                </span>
              </label>
            </div>
          </form>
          <div class="registration__footer">
            <button
              type="button"
              class="btn btn-link registration__back"
              @click="$router.push('/')"
            >Back</button>
            <button
              @click="onSubmit"
              :disabled="isLoading"
              type="button"
              id="button"
              class="btn btn-primary"
            >Register</button>
          </div>
        </div>
      </div>
      <div class="footer">Copyright &copy; 2020 All Rights Reserved by InfluWay</div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isLoading: false,
      form: {
        name: "",
        username: "",
        email: "",
        confirm_email: "",
        password: "",
        isAgreed: false
      },

      onCheck: false,
      checkText: "",
      userType: "",
      totalUsernameCharacter: 15
    };
  },

  computed: {
    remainingCharacter() {
      if (this.totalUsernameCharacter <= 0) {
        return (this.totalUsernameCharacter = 0);
      }

      return this.totalUsernameCharacter - this.form.username.length;
    }
  },

  methods: {
    checkPasswordLength() {
      if (this.form.password.length < 6) {
        this.onCheck = true;
        return (this.checkText = "Password is too short!");
      }
      this.onCheck = false;
      return "";
    },

    async onSubmit() {
      if (
        this.form.name == "" ||
        this.form.username == "" ||
        this.form.password == ""
      ) {
        return this.i("All fields are required!");
      }

      if (this.form.email != this.form.confirm_email) {
        return this.i(`Email doesn't match!`);
      }

      if (this.form.password.length < 6) {
        return this.i("Password is too short!");
      }

      if(this.form.username.includes(' ')){
        return this.i('Username can not contains blank spaces!')
      }

      this.isLoading = true;
      this.form.userType = this.userType;
      const res = await this.callAxios("post", "/register", this.form);
      if (res.status === 200) {
        this.s("Successfully Account Created You may Log In");
        window.location = "https://app.influway.com";
        this.isLoading = false;
      } else if (res.status === 401) {
        const message = res.data;
        for (let i in message) {
          const msg = message[i].message;
          this.e(msg);
        }
        this.isLoading = false;
      } else {
        this.swr();
        this.isLoading = false;
      }
    }
  },

  created() {
    if (
      this.$route.query.user_type != "influencer" &&
      this.$route.query.user_type != "retail"
    ) {
      return this.$router.push("/");
    }

    this.userType = this.$route.query.user_type;
  }
};
</script>

<style>
</style>
